<!doctype html>
<html>
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="<%= htmlWebpackPlugin.options.requirePath %>styles.css" rel="stylesheet"></head>
</head>
<body>
<div id='root'>
</div>
<script type="text/javascript" src="<%= htmlWebpackPlugin.options.requirePath %>bundle.js"></script></body>
</body>
</html>
