@import 'button-vars.css';

.addTodo {
  background-color: var(--backgroundColor);
}

.standardButton {
  width: 100px;
  height: 100px;
  background-color: var(--backgroundColor);
  color: var(--textColor);
}
