.radioButtonContainer {
  display: flex;
  align-items: center;
    border: 1px solid red;
}

.radioButton {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: red;
}

.on {
  background-color: blue;
}

.radioButtonLabel {
    color: white;
}
